.default {
    /*margin: 0 15px;*/
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    cursor: inherit;
}


.default:hover {
    opacity: 0.9;
}

.btnPrimary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    cursor: pointer;

}

.btnPrimary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btnSecondary {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;

    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btnSecondary:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}