.pageWrapper {
    max-width: 400px;
    padding-bottom: 25px;
    box-shadow: 0px 10px 62px 10px rgba(47, 128, 214, 0.71);

    margin-top: 55px;
    background-color: #FFF;
    border-radius: 16px;
    margin-left: 55px;
    padding-left: 40px;
    padding-right: 40px;
}

.pageContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.pageHeader {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center !important;
}

.pageHeader .pageLogo {
    font-weight: 800;
    font-size: 34px;
    color: #2789e6;
    transition: 0.2s ease-in;
    margin: 0;
}

.pageLogo span {
    color: #2B2B2B;
}

.pageHr {
    background-color: #2d93f0;
    height: 45px;
    margin-bottom: 30px;
    margin-left: -55px;
    margin-right: -55px;
}

.formStyle {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.formLabel {
    display: block;
    margin-bottom: .5rem;
}


