.pageWrapper {
    max-width: 400px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 55px;

    box-shadow: 0px 10px 62px 10px rgba(47, 128, 214, 0.71);
    background-color: #FFF;
    border-radius: 16px;
}

.pageContainer {
    width: 100%;
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.pageContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center !important;
}

.pageHeader .pageLogo {
    font-weight: 800;
    font-size: 34px;
    color: #2789e6;
    transition: 0.2s ease-in;
    margin: 0;
}

.pageLogo span {
    color: #2B2B2B;
}

.pageHr {
    background-color: #2d93f0;
    height: 45px;
    margin-bottom: 30px;
    margin-left: -55px;
    margin-right: -55px;
}

.formStyle {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.formStyle ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: red;
    text-align: center;
}

.formLabel {
    display: block;
    margin-bottom: .5rem;

}

